/*!
 * editeur.min.css
 * Feuille de style du lecteur
 *  - Complete bootstrap
 *  - Compose de editeur.css et general.css
 */
 
.icone_tr {
    text-align: right;
}

.icone_tr .glyphicon {
    cursor: pointer;
}

/* Affichage contextuel des icones dans les ligne */

tr>.icone_tr .glyphicon {
   display: inline;
}

tr:not(:hover)>.icone_tr .glyphicon-trash {
   display: none;
}

tr:not(.danger)>.icone_tr .glyphicon-ok-sign {
   display: none;
}

tr:not(.danger):not(:hover)>.icone_tr .glyphicon-remove-sign {
   display: none;
}

.danger:hover>.icone_tr .glyphicon-remove-sign {
   display: none;
}

.danger:not(:hover)>.icone_tr .glyphicon-ok-sign {
   display: none;
}