body {
    padding-top: 60px;
}

a {
    cursor: pointer;
}

.input_ligne {
    width: 100%;
    border: none;
}

.dropdown-menu .glyphicon {
    font-size: 0.9em;
}

.model {
    display: none;
}

.navbar-form {
    display: block;
}

/* ********** Affichage des erreurs ********** */

#liste-alertes {
    position: fixed;
    right: 10px;
    top: 60px;
    width: 300px;
    z-index: 100;
}

#liste-alertes .alert {
    margin-bottom: 5px;
}