body {
    padding-top: 60px;
}

a {
    cursor: pointer;
}

.input_ligne {
    width: 100%;
    border: none;
}

.dropdown-menu .glyphicon {
    font-size: 0.9em;
}

.model {
    display: none;
}

.navbar-form {
    display: block;
}

/* ********** Tableau de statistiques ********** */

.table-stats > thead > tr:last-child {
    color : gray;
}

td.stats {
    font-weight: bold;
}

td.stats:after {
    content : " €";
}

/* ********** Listes ********** */

/* Dans les popover */
.popover-content > .list-group > .list-group-item {
    padding: 5px;
}

.popover-content > .list-group {
    font-size : 0.9em;
    margin: 0px;
}

.list-group.borderless > .list-group-item {
    border-right : none;
    border-left : none;
}

/* Plus général */
.list-group.borderless > .list-group-item:first-child {
    border-top : none;
}

.list-group.borderless > .list-group-item:last-child {
    border-bottom : none;
}

.list-group.borderless > .list-group-item > .glyphicon {
    float : right;
    color : gray;
}

.list-group.borderless > .list-group-item > .description {
    color : gray;
}

.list-group.borderless > .list-group-item > .description:after {
    content : " : ";
}

.list-group.borderless > .list-group-item > .valeur {
    font-weight: bold;
}

/* ********** Affichage des erreurs ********** */

#liste-alertes {
    position: fixed;
    right: 10px;
    top: 60px;
    width: 300px;
    z-index: 100;
}

#liste-alertes .alert {
    margin-bottom: 5px;
}