body {
    padding-top: 50px;
}

a {
    cursor: pointer;
}

.euro:after {
    content: " €";
}

.input_ligne {
    width: 100%;
    border: none;
}

.dropdown-menu .glyphicon {
    font-size: 0.9em;
}

.model {
    display: none;
}

.navbar-brand > .glyphicon {
    margin-right: 5px;
}

.navbar-form {
    display: block;
}

/* ********** Tableau de statistiques ********** */

.table-stats > thead > tr:last-child {
    color : gray;
}

td.stats {
    font-weight: bold;
}

td.stats:after {
    content : " €";
}

/* ********** Listes ********** */

/* Dans les popover */
.popover-content > .list-group > .list-group-item {
    padding: 5px;
}
.popover-content > .list-group > .list-group-item > .valeur {
    float : right;
    margin-left : 15px;
}

.popover-content > .list-group {
    font-size : 0.9em;
    margin: 0px;
}

.list-group.borderless > .list-group-item {
    border-right : none;
    border-left : none;
}

/* Plus général */

.list-group.list-sm .row-action-primary>i {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 10px;
}

.list-group.list-sm .row-content {
    min-height: 35px;
}

/* ********** Affichage des erreurs ********** */

#liste-alertes {
    position: fixed;
    right: 10px;
    top: 60px;
    width: 300px;
    z-index: 100;
}

#liste-alertes .alert {
    margin-bottom: 5px;
}