/*!
 * Mise en page de la page d'accueil
 */
 
.carte {
    cursor: pointer;
}
 
.carte h2 {
    font-size: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.carte .list-group .row-action-primary>i {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 12px;
}

.carte .list-group .row-content {
    min-height: 35px;
}