/*!
 * Mise en page de la page d'accueil
 */
 
.carte {
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 5px;
    
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    white-space: nowrap;
}

.carte > h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    
    font-size: 2em;
    overflow: auto;
}