/*!
 * Mise en page de la page d'accueil
 */
 
.carte {
    cursor: pointer;
}
 
.carte h2 {
    font-size: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* *************** Expendable *************** */

.expendable.expend {
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 0.95;
    
    transition: width 1s, height 1s, bottom 1s, right 1s, padding 1s, opacity 10s;
    
    padding: 0px;
    bottom: 0px;
    right: 0px;
}

.expendable:not(.expend) {
    transition: width 1s, height 1s, bottom 1s, right 1s, padding 1s, border-radius 2s 1s, opacity 10s 1s;
}

.expendable.expend .expendable-btn {
    opacity: 0;
}

.expendable:not(.expend) .expendable-content {
    opacity: 1;
}