/*!
 * Feuille de style pour les formulaires de connection et d'inscription
 */
 
body, html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.form-signin {
  max-height: 95%;
  max-width: 600px;
  overflow-y: auto;
}


.input-group-addon i {
  font-size: 20px;
}

.form-signin-heading {
  margin-top: 0px;
  margin-bottom: 40px;
}

form .btn {
  margin-top: 40px;
}

.form-footer {
  text-align: right;
}